<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Cadastro de Imóveis</title>
</head>
<body class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-6">
            <div class="card p-4 shadow mb-4">
                <h3 class="mb-3 text-center">Cadastro de Imóvel</h3>

                <form id="formImoveis" method="POST" action="#" class="row g-3">
                    <div class="col-md-2">
                        <label for="idImovel" class="form-label">Id</label>
                        <input type="text" class="form-control" id="idImovel" name="idImovel" value="" readonly>
                    </div>

                    <div class="mb-3">
                        <label for="tituloImovel" class="form-label">Título do imóvel</label>
                        <input type="text" class="form-control" id="tituloImovel" name="tituloImovel" value="" required>
                        <div class="invalid-feedback">
                            O imóvel deve possuir um título do imóvel.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="valorImovel" class="form-label">Valor do Imóvel</label>
                        <input type="number" step="0.01" class="form-control" id="valorImovel" name="valorImovel" value="" required>
                        <div class="invalid-feedback">
                            Por favor, insira o valor do imóvel com duas casas decimais.
                        </div>
                    </div>

                    <div class="col-md-12 mb-5">
                        <label for="tipoImovel" class="form-label">Tipo de Imóvel</label>
                        <select class="form-select" id="tipoImovel" name="tipoImovel" required>
                            <option selected value="">Escolha o tipo de imóvel</option>
                        </select>

                        <div class="invalid-feedback">
                            Selecione pelo menos um tipo de imóvel
                        </div>
                    </div>

                    <div class="col-md-12 mb-5">
                        <label for="pessoa" class="form-label">Deseja vincular uma pessoa a este imóvel?</label>
                        <select class="form-select" id="pessoa" name="pessoa">
                            <option selected value=""></option>
                        </select>
                    </div>


                    <div class="row mt-5 mb-4 text-center">
                        <div class="col-12">
                            <button class="btn btn-primary me-2" id='cadastrar' type="button">Cadastrar</button>
                            <button class="btn btn-warning me-2" id='atualizar' type="button">Atualizar</button>
                            <button class="btn btn-danger me-2" id='excluir' type="button">Excluir</button>
                            <button class="btn btn-secondary me-2" type="button"
                                onclick="history.back()">Voltar</button>
                        </div>
                    </div>
                </form>   
            </div>
        </div>
            <div id="exibeImoveis"></div>
            <div id="mensagem"></div>    
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous">
    </script>
    <script src="Scripts/cadastroImovel.js"></script>
</body>

</html>