<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Exibe consulta de Pessoas vinculadas a imóveis</title>
</head>
<body class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="card p-4 shadow">
                <h2 class="text-center mb-4">Exibir Imóveis por Pessoa</h2>

                <div class="mb-4">
                    <label for="pessoa" class="form-label">Selecione uma pessoa</label>
                    <select class="form-select" id="pessoa" name="pessoa">
                        <option value=""></option>
                    </select>
                </div>

                <div id="pessoaImovel"></div>

                <div class="text-center mt-4">
                    <button class="btn btn-secondary" onclick="history.back()">Voltar</button>
                </div>

            </div>

        </div>
    </div>   
</body>
</html>